<ion-view>
  <ion-content scroll="false">

    <ion-slide-box on-slide-changed="slideHasChanged($index)" fit>
      <ion-slide class="slide-intro" vertical layout>
        <i class="ion ion-ios-close-empty" ng-click="goLogin()"></i>
        <img ng-src="./images/intro_1.jpg" alt="" class="img-responsive" flex/>
        <div class="info-intro">
          <div class="title-intro">
            Welcome to QUiKiE
          </div>
          <div class="content-intro">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          </div>
        </div>
        <div class="button-default button-skip" ng-click="goLogin()">
          Skip
        </div>
      </ion-slide>
      <ion-slide class="slide-intro" vertical layout>
        <i class="ion ion-ios-close-empty" ng-click="goLogin()"></i>
        <img ng-src="./images/intro_2.jpg" alt="" class="img-responsive"/>
        <div class="info-intro">
          <div class="title-intro">
            Welcome to QUiKiE
          </div>
          <div class="content-intro">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          </div>
        </div>
        <div class="button-default button-skip" ng-click="goLogin()">
          Skip
        </div>
      </ion-slide>
      <ion-slide class="slide-intro" vertical layout>
        <i class="ion ion-ios-close-empty" ng-click="goLogin()"></i>
        <img ng-src="./images/intro_1.jpg" alt="" class="img-responsive"/>
        <div class="info-intro">
          <div class="title-intro">
            Welcome to QUiKiE
          </div>
          <div class="content-intro">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          </div>
        </div>
        <div class="button-default button-skip" ng-click="goLogin()">
          Skip
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
