<ion-view class="login-page">
    <ion-content>
        <div class="login" vertical layout ng-hide="signin || signup">

            <div flex class="text-center" horizontal layout center center-justified>
                <img src="./images/logo.png" alt="" class="img-logo"/>
            </div>

            <div class="form-login-page">
                <div style="overflow: hidden">
                    <div class="pull-right">
                        <img ng-src="{{selectedLang.img}}" width="32" style="margin-left: 10px"
                             ng-click="openPopover($event)"/> <i class="ion ion-android-arrow-dropdown" style="color: white"></i>
                    </div>
                </div>


                <div class="list default-form-input">
                    <label class="item item-input">
                        <input type="email" placeholder="Your email" ng-model="user.username">
                    </label>
                    <label class="item item-input">
                        <input type="password" placeholder="Password" ng-model="user.password">
                    </label>
                </div>

                <button class="button button-block button-default" ng-click="login()"
                        ng-disabled="!user.username || !user.password">
                    <span translate="LOGIN_TO_ACCOUNT"></span>
                </button>
                <div class="forgot-password text-center" ng-click="forgotPass()">
                    <span translate="FORGOT_PASSWORD"></span>
                </div>
                <!--<button class="button button-block button-default button-opacity">
                  Continue Without Account
                </button>-->
            </div>

            <div class="bottom-login-page">
                <div class="button-bar">
                    <a class="button" ng-click="loginFacebook()">Facebook</a>
                    <a class="button" ng-click="goSignup()" translate="SIGNUP"></a>
                </div>
            </div>
        </div>

        <div class="login" vertical layout ng-show="signup">

            <div flex class="text-center" horizontal layout center center-justified>
                <img src="./images/logo.png" alt="" class="img-logo"/>
            </div>

            <div class="form-login-page form-singup-page" style="margin-bottom: 60px">
                <p class="mess-info">{{message}}</p>

                <div class="list list-inset">
                    <label class="item item-input">
                        <input type="email" placeholder="Your email" ng-model="account.email">
                    </label>
                    <label class="item item-input">
                        <input placeholder="Password" type="password" ng-model="account.password" name="pw" id="pw"/>
                        <ul id="strength" check-strength="account.password"></ul>
                    </label>
                    <label class="item item-input">
                        <input type="password" placeholder="Confirm Password" ng-model="account.rePassword">
                    </label>
                    <label class="item item-input button-signup" ng-click="signUp()">
                        <div class="creat-text" translate="CREATE_ACC"></div>
                    </label>
                </div>

                <div class="forgot-password text-center" ng-click="needHelp()" translate="NEED_HELP">

                </div>
            </div>

            <div class="text-center text-bottom-login" translate="ALREADY_SRESTAURANT">

            </div>

            <div class="bottom-login-page">
                <div class="button-bar" style="border-right: 0">
                    <a class="button" ng-click="goBackLogin()" translate="LOG_IN"></a>
                </div>
            </div>
        </div>

        <div class="login" vertical layout ng-show="isForgotPass">

            <div flex class="text-center" horizontal layout center center-justified>
                <img src="./images/logo.png" alt="" class="img-logo"/>
            </div>

            <div class="form-login-page form-singup-page" style="margin-bottom: 60px">

                <div class="list list-inset">
                    <label class="item item-input">
                        <input type="email" placeholder="Your email" ng-model="account.email">
                    </label>
                </div>
            </div>

            <div class="bottom-login-page">
                <div class="button-bar" style="border-right: 0">
                    <a class="button" ng-click="goBackLogin()">Send new password to email!</a>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
