<ion-view>

    <ion-nav-title>
        <a class="logo-app" ng-click="goToPage('main.menu')">{{logoText}}</a>
    </ion-nav-title>

    <ion-nav-buttons side="right">
        <div class="buttons">
            <button class="button button-clear button-header"><i class="ion ion-ios-personadd"></i></button>
            <button class="button button-clear button-header button-order"><i class="ion ion-ios-help-outline"></i>
            </button>
            <button class="button button-clear button-header"><i class="ion ion-ios-search"></i></button>
            <button class="button button-clear button-header"><i class="ion ion-ios-person"></i></button>
            <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>

        </div>
    </ion-nav-buttons>

    <ion-content>
        <div class="header-menu">
            <div class="item item-thumbnail-left assertive-bg">
                <img ng-src="{{restaurant.logo}}">

                <div horizontal layout center end-justified style="height: 74px">
                    <div>
                        <p style="color: #e4e4e4" class="text-right"><i class="ion ion-star energized"></i>
                            {{restaurant.rate}} | {{restaurant.vote}} votes | <i
                                    class="ion ion-ios-compose-outline"></i> {{restaurant.review}}</p>

                        <h2 horizontal layout center end-justified class="light" style="font-size: 20px">
                            {{restaurant.name}}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="menus">
            <div class="list">
                <a class="item item-avatar item-category" ng-repeat="item in categories"
                   ng-click="selectedCategory(item)">
                    <img ng-src="{{item.icon}}">

                    <h2>{{item.name}}</h2>

                    <p>Nine Inch Nails</p>

                    <div class="category-new" ng-if="(item.new == true)">
                        <img src="./images/new.png" alt="">
                    </div>
                </a>
            </div>

        </div>
    </ion-content>
</ion-view>
<div class="button-float-material" ng-click="goToPage('main.order',{type : typeOrder})">
    <div style="position: relative; line-height: 36px;">
        <i class="ion ion-bag"></i>
        <span>{{order.quantity}}</span>
    </div>
</div>