<ion-view>
    <ion-nav-title>
        <a class="logo-app">{{restaurant.name}}</a>
    </ion-nav-title>
    <ion-content>
        <div class="info-category">
            <ion-scroll direction="x">
                <ul>
                    <li ng-repeat="item in categories" ng-class="{active: category.id == item.id}"
                        ng-click="selectedCategory(item)">
                        {{item.name}}
                    </li>
                </ul>
            </ion-scroll>
        </div>
        <div class="menus">
            <div class="list-foods">
                <div class="foods">
                    <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="false"
                                   ng-repeat="item in foods">
                        <ion-slide class="item data-default-item">
                            <h3>{{item.name}}
                                <span class="pull-right" ng-show="!item.isHalf">{{item.price | currency}}</span>
                                <span class="pull-right" ng-show="item.isHalf">{{item.price/2 | currency}}</span>
                            </h3>

                            <p class="no-margin padding-des">{{item.description}}</p>

                            <span class="swipe-select"><span translate="SWIPE_TO"></span> <br/><span translate="SELECT"></span></span>
                        </ion-slide>
                        <ion-slide horizontal layout>
                            <div class="style-full-half" vertical layout>
                                <div>
                                    <div flex class="is-full" horizontal layout center center-justified
                                         ng-class="{active: !item.isHalf}" ng-click="ChooseTypeItem(item,false)">
                                        Full
                                    </div>
                                    <div flex class="is-full" horizontal layout center center-justified
                                         ng-class="{active: item.isHalf}" ng-click="ChooseTypeItem(item,true)">
                                        Half
                                    </div>
                                </div>
                                <div style="height: 75px;width: 65px;" ng-hide="item.priceHalf">
                                    <div style="height: 100%" flex class="is-full" horizontal layout center
                                         center-justified ng-class="{active: !item.isHalf}">
                                        Full
                                    </div>
                                </div>
                            </div>
                            <div flex horizontal layout>
                                <div class="quantity-food" vertical layout flex>
                                    <div class="button-quantity minus" ng-click="subQuantity(item)"><i
                                            class="ion ion-minus"></i></div>
                                    <div class="font-size-10 quantity-number" flex>{{item.quantity}} &times; <span
                                            ng-if="!item.isHalf">{{item.price | currency}}</span><span
                                            ng-if="item.isHalf">{{item.price/2 | currency}}</span></div>
                                    <div class="button-quantity plus" ng-click="addQuantity(item)"><i
                                            class="ion ion-plus"></i></div>
                                </div>
                            </div>

                            <div class="add-to-card" vertical layout center center-justified
                                 ng-click="addNewItem(item)">
                                <i class="icon ion-ios-cart-outline"></i>
                                Add to card
                            </div>
                        </ion-slide>
                    </ion-slide-box>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="footer-menu-view" horizontal layout>
        <div flex horizontal layout center class="take-order-text">

            <i class="ion-ios-cart" style="color: #168668"></i>

            {{order.totalQty}} <span translate="ITEMS_IN_CART"></span>
        </div>
        <div horizontal layout center center-justified>
            <button class="button button-light" ng-click="goOrderPayment()" translate="PLACE_ORDER">

            </button>
        </div>

    </ion-footer-bar>
</ion-view>
