<ion-view>


  <ion-nav-title>
    <a class="logo-app">Orders History</a>
  </ion-nav-title>
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>

  <ion-content style="background-color: #fff">
    <div class="title-order-history" horizontal layout center center-justified>
      <div flex>Your Orders</div>
      <div>
        <span class="number-orders-history">{{ordersHistory.length}}</span>
      </div>
    </div>
    <div class="last-time-orders" horizontal layout center center-justified>
      <div flex>
        Last 3 months
      </div>
      <div class="positive">
        Filter orders <i class="ion ion-trash-a assertive" ng-click="clear()"></i>
      </div>
    </div>
    <div class="list list-order-history">
      <a class="order-list-history item item-icon-right" ng-repeat="item in ordersHistory" ng-click="goDetailOrderHistory($index, item)">
        <i class="icon ion-ios-arrow-right"></i>
        <h2>{{item.restaurant.name}}</h2>
        <h3>Total: {{item.total + item.total / 100 * item.tax | currency}}</h3>
        <p>{{item.paid_at | date : 'medium'}}</p>
      </a>
    </div>
  </ion-content>

</ion-view>
