<ion-view>
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-nav-title>
    <a class="logo-app">Orders History</a>
  </ion-nav-title>

  <ion-content style="background-color: #f0f3f4" class="invoice">

    <div class="i-header">
      <h4>Order detail</h4>
    </div>
    <div class="i-info-res">
      <div style="padding: 0 5px;">
        <img src="./images/yeoman.png" alt="" style="width: 30px; height: 30px"/>
      </div>
      <div class="width-50 padding-5">
        <h5>Apple Inc.</h5>
        <p>
          30, cau giay, Ha Noi <br/>
          Telephone: 0163 8678 364 <br/>
          Email: stove321@gmail.com
        </p>
      </div>
      <div class="width-50 text-right padding-5">
        <h5>#{{orderDetail.orderNo}}</h5>
        <p>
          Date: {{orderDetail.createdTime | date}} <br/>
          Status: <span class="label">Paid</span>
        </p>
      </div>
    </div>

    <div class="i-info-invoice">
      <div class="width-50 padding-5">
        <h5>BillingTo</h5>
        <h6 style="margin: 0">Hoang Van loi</h6>
        <p>
          80, Hoang Dieu, Ha Noi <br/>
          Email: hoang@gmail.com <br/>
          Phone: 0163 8678 364
        </p>

      </div>
      <div class="width-50 padding-5 text-right">
        <h5>DeliveryTo</h5>
        <h6 style="margin: 0">Apple Inc.</h6>
        <p>
          30, cau giay, Ha Noi <br/>
          Telephone: 0163 8678 364 <br/>
          Email: stove321@gmail.com
        </p>
      </div>
    </div>

    <div class="i-table padding-5" style="font-size: 10px">
      <table class="table table-request">
        <thead>
        <tr>
          <th width="20px">#</th>
          <th class="text-left">Name</th>
          <th>Qty</th>
          <th>Size</th>
          <th class="text-right">Price</th>
          <th class="text-right" style="padding-right: 5px">Total</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in orderDetail.details">
          <th>{{$index + 1}}</th>
          <th class="text-left">{{item.itemName}}</th>
          <th>{{item.quantity}}</th>
          <th>{{item.size | menuItemSize}}</th>
          <th class="text-right">{{item.price | currency:'&#8377;'}}</th>
          <th class="text-right" style="padding-right: 5px">{{item.price * item.quantity | currency:'&#8377;'}}</th>
        </tr>
        <tr>
          <th colspan="5" class="text-right"><strong>Subtotal</strong></th>
          <th class="text-right" style="padding-right: 5px">{{100 | currency:'&#8377;'}}</th>
        </tr>
        <tr>
          <th colspan="5" class="text-right no-border"><strong>VAT Included in Total</strong></th>
          <th class="text-right" style="padding-right: 5px">$0.00</th>
        </tr>
        <tr>
          <th colspan="5" class="text-right no-border"><strong>Total</strong></th>
          <th class="text-right" style="padding-right: 5px"><strong>{{100 | currency:'&#8377;'}}</strong></th>
        </tr>
        </tbody>
      </table>
    </div>



    <!--<div class="detail-for-order">
      <div class="card-item info-res">
        <div class="card no-margin">
          <div class="detail-text padding-5">
            <div style="width: 50%; float: left" class="text-order">
              <p>
                Details of your order on {{orderDetail.createdTime | date : 'medium'}}
              </p>

            </div>
            <div style="width: 50%; float: right" class="padding-5">
              <div class="subtotal-order" horizontal layout>
                <div flex horizontal layout center end-justified>Subtotal:</div>
                <div flex horizontal layout center end-justified>{{orderDetail.totalAmount / 1.1 | currency:'&#8377;'}}</div>
              </div>
              <div class="subtotal-order" horizontal layout>
                <div flex horizontal layout center end-justified>Tax / VAT:</div>
                <div flex horizontal layout center end-justified>{{(orderDetail.totalAmount / 1.1) * 0.1 | currency:'&#8377;'}}
                </div>
              </div>
              <div class="subtotal-order" horizontal layout>
                <div flex horizontal layout center end-justified>TOTAL:</div>
                <div flex horizontal layout center end-justified>{{orderDetail.totalAmount | currency:'&#8377;'}}</div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>


    <div class="text-invoice-bottom text-center padding-15">
      &lt;!&ndash; UI for “Request Printed Invoice”, or “email invoice"&ndash;&gt;
      <table class="table table-request">
        <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Size</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in orderDetail.details">
          <th>{{$index + 1}}</th>
          <th>{{item.itemName}}</th>
          <th>{{item.price | currency:'&#8377;'}}</th>
          <th>{{item.quantity}}</th>
          <th>{{item.size | menuItemSize}}</th>
        </tr>
        </tbody>
      </table>
      <div class="requset-number">
        <p>Your order #</p>

        <h2 class="requset-order-number">
          {{orderDetail.orderNo}}
        </h2>

        <p class="request-date">
          {{orderDetail.createdTime | date : 'medium'}}
        </p>
      </div>
    </div>
-->
  </ion-content>

</ion-view>
