<ion-view>

    <ion-nav-title>
        <a class="logo-app">{{restaurant.name}}</a>
    </ion-nav-title>

    <ion-content>
        <div class="header-detail-restaurant">
            <div class="images-restaurant images-restaurant-detail  div-img"
                 ng-style="{'background-image': 'url(\'' + restaurant.image + '\')'}">
            </div>

            <div class="info-restaurant-detail" vertical layout>
                <div horizontal layout class="header-infomation-image">
                    <div class="info-restaurant" flex>
                        <div class="name-restaurant">
                            {{restaurant.name}}
                        </div>
                        <div class="location-restaurant">
                            <i class="ion ion-location"></i> {{restaurant.location}}
                        </div>
                    </div>
                    <div class="padding-10 hearth-vote" horizontal layout center center-justified
                         ng-class="{active: restaurant.hearth}" ng-click="bookmarkRestaurant($event)">
                        <i class="ionn ion-heart hearth-icon"></i>
                    </div>
                </div>
                <div flex></div>
                <div class="vote-restaurant">
                    <div class="button-bar">
                        <a class="button"><i class="ion ion-star energized"></i> {{restaurant.rate}}</a>
                    </div>
                </div>
                <div class="function-list">
                    <div class="button-bar">
                        <a class="button tab-item" ng-click="goToPage()">
                            <i class="icon fa fa-cutlery"></i>

                            <div translate="FOR_HERE"></div>
                        </a>
                        <a class="button tab-item" ng-click="goToPage()">
                            <i class="icon fa fa-inbox"></i>

                            <div translate="TAKE_OUT"></div>
                        </a>
                        <a class="button tab-item icon-uber">
                            <img src="./images/UBER-icon.png" alt="" class="img-responsive"/>

                            <div translate="TAKE_UBER"></div>
                        </a>
                        <a class="button tab-item">
                            <i class="icon ion-ios-star-outline"></i>

                            <div translate="RATE"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="list-card more-info-res">
            <div class="card-item info-res">
                <div class="card">
                    <div class="item">
                        <div>
                            HOURS: {{restaurant.open}}
                        </div>
                        <div>
                            CUISINES: Pure Veg | North Indian
                        </div>
                        <div horizontal layout>
                            <div flex horizontal layout class="info-phone">
                                <i class="ion ion-ios-telephone"></i>

                                <div>
                                    Phone <br/>
                                    {{restaurant.telephone}}
                                </div>
                            </div>
                            <div flex horizontal layout class="info-phone">
                                <i class="ion ion-ios-email-outline"></i>

                                <div>
                                    Email <br/>
                                    {{restaurant.email}}
                                </div>
                            </div>
                        </div>
                        <div horizontal layout class="info-phone">
                            <i class="fa fa-internet-explorer"></i>

                            <div>
                                Website <br/>
                                {{restaurant.website}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-item">
                <div class="card">
                    <div class="item item-image">
                        <!--<div id="map" data-tap-disabled="true"></div>-->
                        <!--<img ng-src="{{restaurant.map}}" class="img-responsive">-->
                        <ui-gmap-google-map center='map.center' zoom='map.zoom' mapTypeId="map.type">
                            <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events"
                                            idkey="marker.id">
                            </ui-gmap-marker>
                        </ui-gmap-google-map>

                    </div>
                    <div class="item">
                        <p style="color: green"><i class="ion ion-navigate"></i> <span translate="START_NAV"></span></p>
                    </div>
                </div>
            </div>
            <div class="card-item">
                <div class="card">
                    <div class="item">
                        <h2><i class="ion ion-images"></i> <span translate="PHOTO"></span></h2>
                    </div>
                    <div class="list-img-restaurant">
                        <img src="./images/res-1.jpg" alt=""/>
                        <img src="./images/res-2.jpg" alt=""/>
                        <img src="./images/res-3.jpg" alt=""/>
                        <img src="./images/res-4.jpg" alt=""/>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
<style>
    #map {
        width: 100%;
        height: 150px;
    }

    .angular-google-map-container {
        height: 150px;
    }
</style>
