.button-opacity {
  background-color: transparent;
  color: #fff !important;
  border-color: #fff;
}
.button-opacity.activated,
.button-opacity:hover {
  background-color: #fff;
  border-color: #D6D6D6;
  color: #797979;
}
.bar.bar-assertive {
  border-color: #168668;
  background-color: #168668;
  background-image: linear-gradient(0deg, #168668, #168668 50%, transparent 50%);
  color: #fff;
}
.keyboard-open .login-page .forgot-password {
  display: none;
}
.keyboard-open .login-page .text-bottom-login {
  display: none;
}
.login-page {
  background-color: #168668 !important;
}
.login-page .scroll {
  height: 100%;
}
.login-page .form-singup-page .list {
  margin: 0;
  border-radius: 10px;
}
.login-page .button-signup {
  padding: 15px;
  font-size: 15px;
  color: #797979;
}
.login-page .button-signup .creat-text {
  text-align: center;
  width: 100%;
}
.login-page .logo-name {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
}
.login-page .forgot-password {
  color: #ddd;
  padding: 5px 0;
}
.login-page .forgot-password.activated {
  color: #fff;
}
.login-page .form-login-page {
  padding: 0 20px;
  margin-bottom: 20px;
  background-color: #168668;
}
.login-page .button-default {
  color: #797979;
}
.login-page .button-default:hover,
.login-page .button-default.activated {
  color: #797979 !important;
}
.login-page .button-default.disabled,
.login-page .button-default[disabled] {
  opacity: 0.8;
}
.login-page .login {
  width: 100%;
  height: 100%;
}
.login-page .text-bottom-login {
  color: #D2D2D2;
  font-size: 12px;
  padding: 10px;
}
.login-page .img-logo {
  width: 160px;
}
.login-page .default-form-input {
  margin-bottom: 25px;
}
.login-page .default-form-input .item {
  background-color: transparent;
  border: none;
  color: #fff;
  border-bottom: 1px solid #fff;
}
.login-page .default-form-input .item input {
  color: #fff;
}
.login-page .default-form-input ::-webkit-input-placeholder {
  color: #fff;
}
.login-page .default-form-input :-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}
.login-page .default-form-input ::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}
.login-page .default-form-input :-ms-input-placeholder {
  color: #fff;
}
.login-page .bottom-login-page .button-bar > .button {
  border-radius: 0;
  border: none;
  color: #797979;
}
.login-page .bottom-login-page .button-bar > .button:first-child {
  border-right: 1px solid #168668;
}
.login-page .login h1 {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-align: center;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.4);
}
.login-page .go-back-login {
  font-size: 18px;
  color: #fff;
  padding: 10px 0;
}
.login-page .header-form-login {
  color: #fff;
  padding: 5px 0;
}
.login-page .agree-login {
  color: #fff;
}
.login-page .agree-login span {
  color: #ef473a;
}
.login-page .select-login .button-calm {
  border-color: #3b5b96;
  background-color: #3b5b96;
  color: #fff;
}
.login-page .select-login .button-positive {
  border-color: #4487ef;
  background-color: #4487ef;
  color: #fff;
}
.login-page .select-login button {
  margin: 5px 0;
  position: relative;
}
.login-page .select-login button i {
  position: absolute;
  left: 10px;
  font-size: 30px;
}
.login-page .group-button-login button {
  background-color: transparent;
  color: #fff;
  margin: 10px 0;
  border-color: #fff;
}
.login-page .group-button-login button:hover,
.login-page .group-button-login button.activated {
  background-color: #fff;
  color: #222;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}
.login-page .button-login[disabled] {
  background-color: #FF9595;
  border-color: #FF9595;
  opacity: 1;
}
.login-page .button-create[disabled] {
  background-color: #5C98F9;
  border-color: #6D9CE8;
  opacity: 1;
}
.login-page .login-input {
  display: block;
  width: 100%;
  height: 37px;
  margin-bottom: 20px;
  padding: 0 9px;
  color: white;
  text-shadow: 0 1px black;
  background: #2b3e5d;
  border: 1px solid #15243b;
  border-top-color: #0d1827;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0));
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.2);
}
.login-page .login-input:focus {
  outline: 0;
  background-color: #32486d;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 4px 1px rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 4px 1px rgba(255, 255, 255, 0.6);
}
.login-page .lt-ie9 .login-input {
  line-height: 35px;
}
.login-page .login-submit {
  display: block;
  width: 100%;
  height: 37px;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: bold;
  color: #294779;
  text-align: center;
  text-shadow: 0 1px rgba(255, 255, 255, 0.3);
  background: #adcbfa;
  background-clip: padding-box;
  border: 1px solid #284473;
  border-bottom-color: #223b66;
  border-radius: 4px;
  cursor: pointer;
  background-image: -webkit-linear-gradient(top, #d0e1fe, #96b8ed);
  background-image: -moz-linear-gradient(top, #d0e1fe, #96b8ed);
  background-image: -o-linear-gradient(top, #d0e1fe, #96b8ed);
  background-image: linear-gradient(to bottom, #d0e1fe, #96b8ed);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 0 7px rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 0 7px rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.15);
}
.login-page .login-submit:active {
  background: #a4c2f3;
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px rgba(255, 255, 255, 0.1);
}
.login-page .login-help {
  text-align: center;
}
.login-page .login-help > a {
  font-size: 11px;
  color: #d4deef;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.4);
}
.login-page .login-help > a:hover {
  text-decoration: underline;
}
.login-page .form-login {
  width: 100%;
  position: relative;
  top: -36px;
}
.button-header {
  padding-right: 10px !important;
  padding-left: 10px !important;
  font-size: 18px !important;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.images-restaurant {
  height: 180px;
}
.div-img {
  background-position: center center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
}
.vote-restaurant .button {
  background-color: transparent;
  border-color: transparent;
  color: #fff;
  border-radius: 0 !important;
  min-height: 30px !important;
  line-height: 30px;
  font-size: 14px;
}
.info-restaurant {
  color: #fff;
}
.name-restaurant {
  font-size: 15px;
  text-transform: capitalize;
  padding: 0 5px;
  color: #f5f4f3;
}
.name-restaurant-slide {
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
}
.button-slide {
  margin: 10px;
}
.button-slide span {
  padding: 5px 10px;
  border-radius: 15px;
  text-transform: uppercase;
  font-size: 12px;
}
.location-restaurant {
  padding: 0 5px;
  font-size: 12px;
  color: #ddd;
}
.slider-pager .slider-pager-page {
  color: #fff;
}
.img-restaurant {
  height: 120px;
}
.list-card {
  padding: 5px;
}
.list-card .card-item {
  padding: 5px;
}
.list-card .card-item .card {
  margin: 0;
}
.list-card .card-item .card .item {
  white-space: inherit;
  position: relative;
  padding-right: 30px !important;
  font-size: 13px;
  color: #888;
}
.bold {
  font-weight: bold !important;
}
.icon-go-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  position: absolute;
  top: 0;
  height: 100%;
  font-size: 20px;
  right: 10px;
  color: #888;
}
.default-color {
  color: #444;
}
.button-float-material {
  background-color: #ef473a;
  display: inline-block;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-user-drag: none;
  color: #f1f1f1;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 9999;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  font-size: 25px;
}
.button-float-material .ion-bag {
  font-size: 30px;
}
.button-float-material span {
  position: absolute;
  top: 5px;
  right: 5px;
  margin: 0;
  width: 18px;
  height: 18px;
  font-size: 11px;
  background-color: #fff;
  text-align: center;
  line-height: 18px;
  color: #ef473a;
  border-radius: 50%;
}
.text-restaurant-list {
  padding: 10px;
  font-size: 14px;
  background-color: #fff;
}
.restaurants-list .res-relative {
  position: relative;
}
.restaurants-list .res-relative .sel {
  color: red !important;
  animation: spinAround 1s linear;
}
.restaurants-list .res-relative i.ion-ios-heart {
  position: absolute;
  font-size: 25px;
  right: 28px;
  top: 10px;
  z-index: 9999;
  color: white;
  transition: background 0.2s, color 0.2s;
}
.restaurants-list .res-relative .restaurant-log {
  width: 50px;
  border-radius: 50%;
  position: absolute;
  bottom: 25px;
  right: 15px;
  z-index: 999;
  border: 1px solid #ECC2C2;
}
.restaurants-list .restaurant {
  position: relative;
}
.restaurants-list .restaurant .info-restaurant {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
}
.restaurants-list .restaurant .info-restaurant .name {
  font-weight: bold;
  font-size: 16px;
}
.restaurants-list .restaurant .info-restaurant .location {
  color: #d9d9d9;
  font-size: 13px;
}
.restaurants-list .restaurant .images-restaurant {
  height: 120px;
}
.show-button .hide {
  display: block !important;
}
.info-restaurant-detail {
  position: absolute;
  top: 0;
  height: 180px;
  width: 100%;
  color: #fff;
}
.info-restaurant-detail .hearth-vote {
  color: #fff;
}
.header-infomation-image {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.54);
}
.function-list .button.activated {
  background-color: #fff;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
  border-color: #B2B2B2;
}
.function-list a {
  font-size: 10px;
  border-radius: 0 !important;
  padding: 0 2px !important;
  background-color: rgba(255, 255, 255, 0.9);
  color: #333;
  opacity: 1;
  border-color: #909090;
  height: 49px;
  line-height: 12px;
  width: 25%;
  max-width: 25%;
}
.function-list a object {
  margin-top: 5px;
}
.function-list a .icon:before {
  line-height: 40px !important;
}
.function-list a:first-child {
  border-left: 0;
}
.function-list a:last-child {
  border-right: 0;
}
.function-list a i {
  font-size: 20px;
}
.info-res .item {
  font-size: 11px !important;
  color: #222 !important;
}
.info-res .item .info-phone {
  color: #ef473a;
}
.info-res .item .info-phone i {
  color: #222;
  position: relative;
  top: 5px;
  margin: 0 10px;
}
.info-intro {
  min-height: 180px;
}
.more-info-res.list-card .card-item .card .item-image {
  padding-right: 0 !important;
}
.pane,
.view {
  background-color: #eee;
}
.menus ul li {
  padding: 10px;
  font-size: 14px;
  background-color: transparent;
  font-weight: bold;
}
.menus ul li:nth-child(2n + 1) {
  background-color: #E6E6E6;
}
.info-category i {
  padding-right: 5px;
}
.padding-10 {
  padding: 10px;
}
.foods img {
  border-radius: 0 !important;
  top: 10px !important;
  left: 10px !important;
  max-width: 50px !important;
  max-height: 50px !important;
}
.foods .item-avatar {
  padding: 10px 10px 10px 70px !important;
}
.foods .item-avatar p {
  font-size: 13px;
  line-height: 16px;
}
.foods .slider {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}
.foods .slider .item {
  background-color: transparent;
  border-width: 0;
  margin: 0 !important;
}
.foods .add-to-card {
  padding: 5px;
  position: relative;
  background: #168668;
  color: #fff;
  font-size: 12px;
  width: 64px;
  text-align: center;
  line-height: 10px;
}
.foods .add-to-card.remove {
  background-color: #ef473a;
}
.foods .add-to-card.remove:after {
  border-right-color: #ef473a;
}
.foods .add-to-card:after {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #168668;
  border-width: 7px;
  margin-top: -7px;
  right: 100%;
  top: 50%;
}
.foods .add-to-card i {
  display: block;
  font-size: 20px;
}
.foods .slider-slide {
  height: 72px;
}
.foods .full-half {
  min-width: 54px;
}
.foods .full-half span {
  display: block;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 2px;
}
.foods .full-half span.active {
  background-color: #ef473a;
  color: #fff;
}
.foods .quantity-food {
  border-right: 1px solid #ddd;
}
.foods .quantity-food .quantity-number {
  font-size: 12px;
  line-height: 18px;
}
.foods .quantity-food .button-quantity {
  display: block;
  text-align: center;
  font-size: 22px;
  color: #fff;
  height: 28px;
  line-height: 28px;
}
.foods .quantity-food .button-quantity.activated {
  background-color: #ddd;
}
.foods .quantity-food .button-quantity.plus {
  color: #28a54c;
}
.foods .quantity-food .button-quantity.minus {
  color: #ef473a;
}
.foods .customer-note {
  padding-right: 5px;
}
.foods .customer-note span {
  display: block;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 10px;
  background-color: #fff;
  border-radius: 50%;
}
.padding-3 {
  padding: 3px;
}
.button-order {
  position: relative;
}
.padding-5 {
  padding: 5px;
}
.no-margin {
  margin: 0 !important;
}
.order .item {
  padding: 0 !important;
}
.order .item-note {
  font-size: 13px;
  color: #585858;
}
.icon-uber img {
  width: 21px;
  margin: 0 auto;
  position: relative;
  top: 12px;
  margin-bottom: 11px;
}
.location {
  font-size: 12px;
  color: #888;
}
.padding-5-10 {
  padding: 5px 10px;
}
.list-categories {
  background-color: transparent;
  border-width: 0;
}
.list-categories:nth-child(2n + 1) {
  background-color: #E6E6E6;
}
.padding-0-10 {
  padding: 0 10px;
}
.name-food-slide {
  font-size: 12px;
}
.padding-10-5 {
  padding: 10px 5px;
}
.font-size-10 {
  font-size: 14px;
  min-width: 80px;
  text-align: center;
}
.pull-right {
  float: right;
}
.button-order-help i {
  font-size: 35px;
  color: #fff;
}
.customer-note {
  padding: 0 !important;
}
.text-wrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.order-summary h2 {
  padding: 10px;
  margin: 0;
  font-size: 20px;
  color: #222;
}
.order-summary ul li {
  overflow: inherit;
  text-overflow: clip;
  white-space: inherit;
  font-size: 14px;
  background-color: transparent;
  border: none;
  padding: 10px 10px 10px 45px;
}
.order-summary ul li .checkbox {
  padding: 0;
  top: 5px;
  margin: 0;
}
.order-summary .header-checkbox {
  font-size: 15px;
}
.order-summary .header-checkbox span {
  color: #888;
  font-style: italic;
  font-size: 13px;
}
.order-summary .search-date input {
  font-size: 12px;
  width: 100%;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.border-bottom {
  border-bottom: 1px solid #ddd !important;
  padding: 0 !important;
  margin: 0 10px;
  margin-bottom: 10px;
}
.search-summary {
  padding: 10px;
}
.text-comment {
  font-size: 13px;
  padding: 0 10px;
  font-style: italic;
}
.link-comment {
  padding: 0 10px;
  color: #387ef5;
  text-decoration: underline;
}
.time-astimated {
  padding: 10px;
  font-weight: bold;
}
.list-method .list a {
  background-color: transparent;
  border: none;
  padding: 10px 10px 10px 45px;
}
.list-method .list a i {
  font-size: 21px;
  left: 5px;
}
.padding-des {
  padding-right: 85px;
  display: block;
}
.tabs-icon-top a.active {
  color: #ef473a;
}
@keyframes spinAround {
  0% {
    transform: scale(1.2, 1.2);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.item-category {
  position: relative;
  background-color: transparent;
}
.item-category img {
  left: 10px !important;
  max-width: 50px !important;
  max-height: 50px !important;
}
.category-new {
  position: absolute;
  top: 0;
  right: 0;
}
.payment-header {
  overflow: hidden;
  background: white;
  border-bottom: 1px solid #cdcdcd;
}
.payment-info {
  margin-top: 20px;
}
.icon-check-payment {
  float: left;
  width: 40px;
  margin-top: 5px;
}
.icon-check-payment i {
  font-size: 38px;
  margin-left: 5px;
  display: block;
  color: #D0CFCF;
}
.payment-lock {
  padding: 5px;
  float: left;
}
.payment-lock i {
  font-size: 38px;
  float: left;
  color: #A7A74B;
}
.payment-user {
  float: left;
  margin-left: 10px;
}
.payment-white {
  background: white;
  padding: 5px;
}
.payment-user h3 {
  margin-bottom: 0;
}
.payment-user em {
  font-style: italic;
}
.btn-payment-login {
  border: 40px;
}
.btn-payment-login {
  border-radius: 15px;
}
.btn-payment-login.button-balanced {
  margin-bottom: 5px;
}
.btn-payment-login i {
  margin: 0 5px;
}
.btn-payment-login {
  min-width: 85px;
  min-height: 24px;
  line-height: 29px;
}
.payment-icon-req {
  color: red;
  float: left;
  margin-right: 10px;
}
.payment-form input {
  width: 100%;
  border: 1px solid #cdcdcd;
}
.payment-form {
  margin: 10px 0;
}
.payment-form label {
  font-weight: bold;
  margin-bottom: 7px;
  display: block;
}
.payment-required em {
  color: cadetblue;
  font-style: italic;
}
.pre-phone {
  width: 25%!important;
  margin-right: 5%;
  float: left;
  background: #D4D4D4;
  color: white!important;
  padding-left: 15px!important;
}
.last-phone {
  width: 70% !important;
}
.payment-form em {
  color: #757575;
  font-style: italic;
}
.payment-login {
  padding: 5px;
}
.bg-space {
  height: 20px;
  background-color: #EAEAEA;
  margin-bottom: 10px;
}
.payment-address-link a {
  display: block;
  margin-top: 10px;
  color: #006600;
  margin-bottom: 20px;
}
.payment-address-link a span {
  color: black;
}
.payment-total {
  font-size: 20px;
  padding: 20px 10px;
  background-color: #D2D2D2;
  margin-bottom: 20px;
}
.logo-app {
  text-decoration: none;
  font-size: 14px;
}
.hearth-vote {
  font-size: 22px;
  color: #888;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.hearth-vote.active {
  color: #ef473a;
  -webkit-transform: rotateY(180deg);
  /* Safari */
  transform: rotateY(180deg);
}
.box-restaurant {
  color: #555;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 1px;
  background-color: #fff;
}
.location-restaurant-box {
  font-size: 11px;
}
.bottom-box-restaurant {
  font-size: 11px;
}
.tabs-restaurants {
  background-color: #373b3e;
  color: #fff;
}
.tabs-restaurants a {
  line-height: 12px !important;
}
.tabs-restaurants a:first-child i {
  color: #B6FFB6;
}
.tabs-restaurants a object {
  padding-top: 5px;
}
.info-category ul {
  max-width: 100%;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}
.info-category li {
  display: inline-block;
  padding: 10px;
  border-bottom: 4px solid transparent;
  text-transform: uppercase;
  font-weight: bold;
  color: #222;
}
.info-category li.active {
  border-bottom: 4px solid #168668;
}
.data-default-item {
  position: relative;
}
.data-default-item .swipe-select {
  position: absolute;
  right: 15px;
  bottom: 5px;
  font-size: 9px;
  line-height: 12px;
}
.data-default-item h3 {
  margin: 0;
}
.data-default-item p {
  font-size: 12px;
}
.style-full-half {
  background-color: #ddd;
}
.style-full-half .is-full {
  padding: 8px 20px;
}
.style-full-half .active {
  background-color: #B7B7B7;
}
.footer-menu-view {
  background-color: #373b3e;
}
.footer-menu-view button {
  min-height: 20px;
  height: 28px;
  line-height: 28px;
  font-size: 12px;
  padding: 0 10px;
}
.footer-menu-view .take-order-text {
  color: #fff;
  font-size: 15px;
}
.footer-menu-view .take-order-text i {
  font-size: 22px;
  position: relative;
  top: -2px;
  margin-right: 10px;
}
.list-payments ul {
  overflow: hidden;
  margin: 0;
  height: 44px;
  background-color: #e8e8e8;
}
.list-payments ul li {
  width: 25%;
  display: inline-block;
  float: left;
  text-align: center;
  height: 44px;
  border-bottom: 4px solid transparent;
  padding: 0 5px;
  font-size: 10px;
  line-height: 12px;
}
.list-payments ul li object {
  margin-right: 5px;
}
.list-payments ul li i {
  font-size: 20px;
  margin: 5px;
}
.list-payments ul li.active {
  border-bottom: 4px solid #168668;
}
.detail-for-order {
  padding: 10px;
  background-color: #fff;
  color: #535657;
}
.detail-for-order .info-res,
.detail-for-order .card {
  height: 128px;
}
.detail-for-order .text-order {
  padding: 5px;
}
.detail-for-order .text-order p {
  margin: 0;
  color: #535657;
}
.detail-for-order .subtotal-order {
  padding: 5px;
  border-bottom: 1px solid #232323;
}
.detail-for-order .subtotal-order:first-child {
  border: none;
}
.text-foods-order {
  color: #566472;
  background-color: #D8D8D8;
  padding: 0 10px;
  height: 32px;
  line-height: 32px;
}
.list-foods-order ul li {
  height: 85px;
  background-color: #fff;
  border-bottom: 1px solid #888;
}
.list-foods-order ul li .price-food-order {
  text-align: center;
  padding: 5px;
}
.list-foods-order ul li .price-food-order i {
  color: #ef473a;
  font-size: 35px;
  margin-left: 10px;
}
.list-foods-order ul li .top-name-order {
  height: 30px;
  line-height: 30px;
  font-size: 17px;
  color: #222;
  margin-bottom: 5px;
}
.list-foods-order ul li .cancel-item {
  color: #888;
  font-size: 12px;
}
.list-foods-order ul li input {
  border: 1px solid #888;
  border-radius: 4px;
  padding: 0 10px;
  height: 28px;
}
.next-button {
  padding: 40px;
}
.next-button button {
  background-color: transparent;
  border-color: #168668;
  color: #168668;
  height: 40px;
  min-height: 40px;
  line-height: 36px;
}
.add-to-card.activated {
  opacity: 0.9;
}
.payments-method {
  padding: 20px 0;
}
.payments-method .button-bar {
  width: 260px;
  margin: 0 auto;
}
.payments-method .button-bar a {
  background-color: transparent;
  font-size: 13px;
  font-weight: bold;
  height: 28px;
  min-height: 32px;
  line-height: 30px;
  color: #168668;
  border-color: #168668;
}
.payments-method .button-bar a.active {
  background-color: #168668;
  color: #fff;
}
.payments-method .button-bar a:first-child {
  border-radius: 4px 0px 0px 4px;
}
.payments-method .button-bar a:last-child {
  border-radius: 0px 4px 4px 0px;
}
.text-payment-method {
  color: #444;
  line-height: 39px;
}
.text-confirm-order {
  padding: 40px;
  line-height: 24px;
}
.confirm-button-order button {
  background-color: #168668;
  color: #fff;
}
.confirm-button-order button.activated,
.confirm-button-order button.hover {
  background-color: #168668;
  opacity: 0.9;
}
.text-invoice {
  padding: 40px;
}
.title-intro {
  padding: 20px;
  text-align: center;
  font-size: 16px;
  color: #505050;
}
.content-intro {
  padding: 0 10px;
  text-align: center;
  font-size: 15px;
  color: #505050;
}
.slide-intro {
  position: relative;
}
.slide-intro img {
  max-height: 400px;
  width: 100%;
}
.slide-intro i {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 20px;
  font-size: 50px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.18);
}
.slider-pager {
  bottom: 40px;
  position: absolute;
  width: 100%;
  height: 15px;
  text-align: center;
  z-index: 8;
  right: 70px;
  padding-left: 140px;
}
.slider-pager .slider-pager-page {
  color: #656565;
}
.button-skip {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
  font-size: 15px;
  color: #4e4e4e;
  z-index: 9999;
}
.sidebar-left {
  background-color: #373b3e;
}
.sidebar-left .bar-assertive {
  border-color: #373b3e;
  background-color: #373b3e;
  background-image: linear-gradient(0deg, #373b3e, #373b3e 50%, transparent 50%);
  color: #fff;
}
.sidebar-left a {
  background-color: transparent;
  color: #fff;
  border: none;
  border-bottom: 1px solid rgba(10, 10, 10, 0.15);
}
.sidebar-left a.activated {
  color: #fff;
  background-color: transparent;
}
@font-face {
  font-family: "avenir";
  src: url("../fonts/AvenirNext-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
body,
.ionic-body {
  font-family: "avenir" !important;
}
.back-text {
  display: none !important;
}
.title-order-history {
  padding: 15px;
  font-weight: bold;
  font-size: 16px;
  color: #555;
}
.list-order-history a i {
  color: #888;
}
.last-time-orders {
  padding: 10px 15px;
  background-color: #ddd;
}
.number-orders-history {
  background-color: #ef473a;
  width: 30px;
  height: 30px;
  display: block;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
}
.text-muted {
  color: #888;
}
.padding-15 {
  padding: 15px;
}
.menu-left {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.menu-left a.active {
  background-color: #222;
  border-color: #222;
}
.img-restaurant-default img {
  width: 100%;
  max-height: 166px;
}
.img-restaurant-default {
  position: relative;
}
.title-list-res {
  font-size: 26px;
  padding-bottom: 10px;
}
.subtitle-list-res {
  font-size: 16px;
  padding-bottom: 5px;
}
.invoice .table-request {
  border: 1px solid #dee5e7;
}
.invoice .table-request thead tr {
  background-color: #fff;
}
.invoice .table-request thead tr th {
  padding-top: 5px;
  padding-bottom: 5px;
}
.invoice tbody tr {
  background-color: #fff;
}
.invoice tbody tr:nth-child(2n + 1) {
  background-color: #f9f9f9;
}
.invoice tbody tr th {
  padding-top: 5px;
  padding-bottom: 5px;
}
.invoice .width-50 {
  width: 50%;
  float: left;
  font-size: 11px;
}
.invoice .width-50 p {
  margin: 0;
}
.invoice .width-50 h5 {
  margin: 0 0 5px 0;
}
.invoice .width-50 .label {
  display: inline-block;
  background: #168668;
  color: #fff;
  padding: 0px 5px;
  border-radius: 4px;
}
.invoice h4 {
  background: #fff;
  margin: 0;
  padding: 10px 4px;
  margin-bottom: 15px;
  color: #222;
  font-weight: 200;
  border-bottom: 1px solid #e7e7e7;
}
.i-info-invoice {
  overflow: hidden;
}
.i-info-res {
  overflow: hidden;
}
@media screen and (max-width: 480px) {
  .i-info-invoice .width-50 {
    width: 100%;
    text-align: left;
  }
}
